* {
    padding: 0;
    margin: 0;
    font-family: 'Tiro Gurmukhi', serif;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Tiro Gurmukhi', serif;
    background-color: #313552;
    overflow-x: hidden; /* for hiding vertical scroll bar */
}


i {
    color: rgb(248, 240, 9);
}


.row h5 {
    color: rgb(248, 240, 9);
}


.navigation-link:hover {
    border-bottom: 2px solid rgb(248, 240, 9);
    text-decoration: none;
    transition: 0.5s ease;
}


.color {
    color: rgb(248, 240, 9);
}


/* .main-container {
    min-height: 100vh;
} */


.main_row {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 5%;
}


.main_row img {
    width: auto;
    height: 35.9rem;
    border: 2px solid rgb(253, 250, 250);
    border-radius: 0% 90% 90% 0%;
    width: 60%;
    padding-bottom: 10%;
}


.main_row h1 {
    font-size: 5rem;
}


#about img {
    border-radius: 40% 90% 30% 90%;
    height: 20rem;
    padding-left: 15%;
}


#about {
    padding: 3%;
    background-color: black;
    border-radius: 0.5rem;
}


#about p {
    color: white;
}


#about .text {
    padding-right: 5rem;
}


.control ul li {
    list-style: none;
    background-color: black;
    padding: 5px 15px;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
    color: white;
}


.item {
    position: relative;
}


.item:hover {
    -webkit-box-shadow: -8px 10px 148px 0px rgba(242, 242, 242, 1);
    -moz-box-shadow: -8px 10px 148px 0px rgba(242, 242, 242, 1);
    box-shadow: -8px 10px 148px 0px rgba(242, 242, 242, 1);
    transition: 0.5s;
}


.item:before {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(190, 188, 188, 0.256);
    opacity: 0;
    position: absolute;
}


.item:hover:before {
    opacity: 1;
    transition: 0.3s;
}


.item span {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
}


.item:hover span {
    opacity: 1;
    transition: 0.5s;
}


#sm {
    background-color: black;
    align-items: center;
    text-align: center;
}


.row1 {
    display: flex;
}


#ie {
    background-color: black;
    border-radius: 0% 90% 0% 90%;
    color: yellow;
    padding: 20%;
    margin-top: 10%;
    
}


#ie p {
    color: rgb(251, 251, 4);
    padding-left: 5rem;
    margin-top: 0px;
    padding-top: 0px;
}


.f {
    align-items: center;
    justify-content: center;
    padding: 5px;
}


#footer {
    color: black;
    margin-bottom: 1px;
    padding-top: 2px;
    margin-top: 3px;
    font-size: 12px;
}


#footer a {
    color: rgb(252, 250, 250);
    text-decoration: none;
}


@media (max-width: 700px) {
    .main-container {
        height: auto;
        padding: 10% 5%;
       
    }
    .main_row h1 {
        font-size: 2rem;
    }
    
    .main_row img {
       
        height: auto;
        

        padding-bottom: 0;
        border: 2px solid rgb(253, 250, 250);
        border-radius: 0% 90% 90% 0%;
    }


    #about {
        padding: 1%;
        width: auto;
    }


    #about p {
        padding-left: 0;
        text-align: justify;
    }


    #about .text {
       padding: 20px;
       
        margin: auto;
    }
    #about img{
        padding: 50px;
        margin-left:-40px;
    }


    .control ul li {
        font-size: 12px;
        word-spacing: 4px;
        padding: 5px;
    }


    #projects {
        width: auto;
        margin: 0;
        padding-right: 0;
    }


    #ie {
        padding: 5px;
        margin-top: 0;
        width: auto;
        background-color: #313552;
    }


    #ie p {
        font-size: 12px;
        padding-left: 1rem;
       
    }


    #sm {
        width: auto;
        margin: 0;
    }


    #footer {
        width: auto;
        text-align: center;
    }
}


@media (min-width: 768px) and (max-width:900px) {
    .main_row h1 {
        font-size: 41px;
    }
    

    #about p {
        padding-left: 16%;
        text-align: justify;
        padding-right: 1px;
        margin-right: 1px;
    }


    #about .text {
        width: fit-content;
        text-align: center;
        padding-top: 3%;
    }


    .main-container {
        margin-top: 6%;
        margin-bottom: 2px;
    }
    .main_row img {
        width: auto;
        height: 21.9rem;
        border: 2px solid rgb(253, 250, 250);
        border-radius: 0% 90% 90% 0%;
        width: 60%;
        padding-bottom: 10%;
    }
   
}

